source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0, netcoreapp3.1

git https://github.com/gretmn102/DiscordCommandBot.git main build: "build.cmd", OS: windows
git https://github.com/gretmn102/DiscordCommandBot.git main build: "build.sh", OS: mono

source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
storage: none
nuget FSharpMyExt prerelease
nuget DiscordBotExtensions = 0.10.0
